# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build
waves

update.log

#  VS Code
bin
.vscode
.classpath
.project
.settings
.vs
